* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  background: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #2980b9;
}
.topbar {
  width: 100%;
  height: 60px;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 550px;
}

.logo {
  font-size: 18px;
  font-weight: bold;
}

.user-box {
  position: relative;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  background: #7c3aed;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: auto;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 55px;
  background: white;
  color: #111;
  min-width: 180px;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 100;
}

.dropdown p {
  font-weight: bold;
  margin-bottom: 3px;
}

.dropdown small {
  color: #555;
}

.dropdown button {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  border: none;
  border-radius: 5px;
  background: #ef4444;
  color: white;
  cursor: pointer;
}
